<h1 style="margin: 2rem 0; text-align: center; font-size: 4rem; font-weight: bold;"><span style="color: #38B2AC;">TailwindCSS</span> and <span style="color: #e53e3e;">Angular</span> is awesome!</h1>
<div style="display: flex; justify-content: space-around; margin: 20px 0">
  <button mat-raised-button color="primary">Primary Button</button>
  <button mat-raised-button color="accent">Accent Button</button>
  <button mat-raised-button color="warn">Warn Button</button>
</div>
<p style="margin: 2rem 0; text-align: center; font-size: 1.875rem;">Thanks for reading!</p>